/* 

            Global setup
    
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

/* 

            Universal Layouts 
    
*/
/* Need a universal containter class */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    color: #272727;
}

/* Need a universal title header for main section */
.main-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

/* Need a universal p tag class for the whole page */
.paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

/* Need a universal button class */
.primary-btn {
    border-radius: 8px;
    padding: 20px 43px;
    background-color: #E55473;
    color: #FFF;
    font-size: px;
    font-weight: 700;
    border: none;
}

.primary-btn:hover {
    cursor: pointer;
}

.button-link {
    padding: 20px 43px;
}


/* 

            Header section styling
    
*/
.header-container {
    background: rgba(229, 84, 115, 0.10);
    height: 90vh;
}

.header-content {
    /* display: flex; */
    /* flex-direction: column; */
}

.header-title {
    font-size: 5rem;
    max-width: 36vw;
}

.header-paragraph {
    max-width: 33rem;
    text-align: left;
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
}

.header-image {
    align-self: flex-end;
}


/* 

            Main section styling
    
*/


/* 

            Footer section styling
    
*/
.footer-container {
    height: 45vh;
    justify-content: center;
    background-color: #111010;
}

.footer-content {
    text-align: center;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

.footer-title-special-word {
    color: #E55473;
}

.footer-paragraph {
    color: rgba(255, 255, 255, 0.90);
    max-width: 32.5vw;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.copyright-footer {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}