* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* Need a universal button class */
/* Need a universal title header for main section */
/* Need a universal p tag class for the whole page */